body{
  margin: 0;
}
.fondo-1, .fondo-2 {
	@include fondo-fixed;
  .capa {@include capa-color;}
}
.fondo-1 {background-image: url(../images/aurora-borealis-from-space-wallpaper-4.jpg);margin-top: -3%;}
.fondo-2 {background-image: url(../images/aurora-boreal-roja.jpg);}
#tex-alone, #pinturas {
	.capa-color-grey {position:relative;}
	.color-grey {@include capa-hover;}
}
/* seccion tex-alone*/
#tex-alone {
	.text-individual{position:relative;}
	i {position: absolute;}
}
#pinturas {
	.fa {margin-left: 3%;color: $plomo-letras;}
}
.fa-gitlab {font-size: 50px;}
.lateral-icon {width: 85%;display: inline-block;margin-left: 15%;}
.fax {@include lista;}
/* section abrazos*/
.abrazos {
	.fa {font-size:30px;}
	.col-md-3 {margin-top: 3%;}
}
.lista {
	width: 95%;
	border: 1px solid transparent;
	color: $plomo-letras;
	&:hover {@include prueba-hover}
	.b-d {border-right: 1px solid $plomo-letras;}
	.boton {background-color: $oscuro;}
	.col-xs-6, .col-xs-12 {
		@include border; 
		padding: 3% 10%;
		&:hover {background-color: whitesmoke;}
	}
}
.btn-default {
	background-color: $oscuro;
	color: $blanco;
}
textarea {
	min-height: 200px;
	max-height: 400px;
	max-width: 100%;
}

