body{
  margin: 0;
}
.fondo-1, .fondo-2 {
	@include fondo-fixed;
  .capa {@include capa-color;}
}
.fondo-1 {background-image: url(../images/back-lock.jpg);margin-top: -3%;}
.fondo-2 {background-image: url(../images/bg3.jpg);}
#tex-alone, #pinturas {
	.capa-color-grey {position:relative;}
	.color-grey {@include capa-hover;}
}
/* seccion tex-alone*/
#tex-alone {
	.text-individual{position:relative;}
	i {position: absolute;}
}
#pinturas {
	.fa {margin-left: 3%;color: $plomo-letras;}
}
.fa-gitlab {font-size: 50px;}
.lateral-icon {width: 85%;display: inline-block;margin-left: 15%;}
.fax {@include lista;}
/* section abrazos*/
.abrazos {
	.fa {font-size:30px;}
	.col-md-3 {margin-top: 3%;}
}
.lista {
	width: 95%;
	border: 1px solid transparent;
	color: $plomo-letras;
	&:hover {
		background-color: $blanco;
		border: 1px solid black;
		-webkit-transition: height 1200ms linear;
		-moz-transition: height 1200ms linear;
		-ms-transition: height 1200ms linear;
		-o-transition: height 1200ms linear;
		transition: height 1200ms linear;
	}
	.b-d {border-right: 1px solid $plomo-letras;}
	.boton {background-color: $oscuro;}
	.col-xs-6, .col-xs-12 {
		@include border; 
		padding: 3% 0%;
		&:hover {background-color: whitesmoke;}
	}
}
.btn-default {
	background-color: $oscuro;
	color: $blanco;
}
textarea {
	min-height: 200px;
	max-height: 400px;
	max-width: 100%;
}

